@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header {
  padding: 21px 17px 0;
  margin-bottom: 17px;
}

header img {
  width: 123px;
  margin-bottom: 16px;
}

header input {
  width: 343px;
  height: 54px;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 33px;
  padding-left: 17px;
}

main {
  margin: 0 18px;
}

main ul {
  display: flex;
  overflow-x: scroll;
}

#showcase {
  display: flex;
  overflow-x: scroll;
}

main li,
.product-tag {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  padding: 6px 15px;
  background-color: #ffe4ea;
  border: 1px solid #ffe4ea;
  border-radius: 30px;
  margin: 0 22px 27px 0;
  width: fit-content;
}

.product-card {
  width: 300px;
  margin-right: 23px;
}

.product-card .showProduct {
  width: 300px;
}

.product-tag {
  margin: 0 0 0 12px;
  position: relative;
  top: -20px;
}

.product-card h2 {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
}

.product-description {
  font-size: 12px;
  line-height: 16px;
  opacity: 50%;
  margin: 16px 0 27px;
}

.price {
  font-size: 12px;
  font-weight: 700;
  line-height: 13px;
  color: #212529;
}

.add-to-cart {
  border-radius: 100%;
  background-color: #e4f7ef;
  border: none;
  color: #4aca94;
  width: 35px;
  height: 35px;
  position: relative;
  transform: translateY(-75%) translateX(750%);
  cursor: pointer;
}

.addCartImg {
  margin-top: 6px;
}

#cart {
  width: 342px;
}

#cart .title {
  height: 60px;
  padding-left: 17px;
  background-color: #ff2253;
  border-radius: 15px 15px 0 0;
}

.title h2 {
  font-size: 17px;
  font-weight: 700;
  line-height: 60px;
  color: #fff;
}

#cart-items {
  width: 340px;
  height: 432px;
  background-color: #f8f9fa;
  margin-top: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
}

#empty-cart {
  text-align: center;
}

#empty-cart h3 {
  font-size: 18px;
  color: #868e96;
  font-weight: 700;
  padding: 20px;
}

#empty-cart p{
  font-size: 12px;
  color: #868e96;
  max-width: 25ch;
  line-height: 17px;
}

.cart-product {
  display: flex;
  width: 100%;
  padding: 18px 0px;
}

.cart-product .prod-img {
  width: 70px;
  height: 70px;
  border-radius: 8px;
}

.cart-product div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 174px;
  line-height: 22px;
  margin: 0 10px;
}
.cart-product h4 {
  font-weight: 700;
  font-size: 14px;
  max-width: 19ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cart-product p:nth-child(2){
  font-size: 10px;
  color: #868e96;
}

.cart-product p:nth-child(3){
  font-size: 12px;
  color: #212529;
}

#trash-button {
  justify-content: flex-end;
  align-items: center;
  margin-left: 40px;
  margin-top: 7px;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#trash-button img {
  width: 10px;
  margin-top: 3px;
}

#quantity, #total {
  display: flex;
  align-items: center;
  padding: 18px;
  justify-content: space-between;
  width: 100%;
  height: 58px;
  font-size: 15px;
  font-weight: 700;
}

#quantity {
  background-color: #f8f9fa;
}

/* SCROLL BAR */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #b5b5b5;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #b5b5b5;
}
::-webkit-scrollbar-thumb:active {
  background: #b5b5b5;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #ffffff;
}
::-webkit-scrollbar-track:active {
  background: #ffffff;
}
::-webkit-scrollbar-corner {
  background: transparent;
}


@media only screen and (min-width: 620px) {
  header {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 -10px 30px rgba(0, 0, 0, 0.2);
  }
}

@media only screen and (min-width: 1024px) {
  header {
    margin: 0 auto 17px;
    max-width: 1075px;
  }

  ul {
    margin: auto;
    max-width: 1075px;
  }

  #showcase-cart-wrapper {
    display: flex;
    justify-content: center;
  }

  #showcase {
    max-width: 646px;
    flex-wrap: wrap;
    overflow-x: unset;
  }
}

@media only screen and (min-width: 1366px) {
  #showcase-cart-wrapper {
  }

  #showcase {
    max-width: 969px;
  }

  header,
  ul {
    max-width: 1300px;
  }
}
