* {
  box-sizing: border-box;
}

header {
  padding: 21px 17px 0;
  margin-bottom: 17px;
}

header img {
  width: 123px;
  margin-bottom: 16px;
}

header input {
  width: 343px;
  height: 54px;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 33px;
  padding-left: 17px;
}

main {
  margin: 0 18px;
}

main ul {
  display: flex;
  overflow-x: scroll;
}

#showcase {
  display: flex;
  overflow-x: scroll;
}

main li,
.product-tag {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  padding: 6px 15px;
  background-color: #ffe4ea;
  border: 1px solid #ffe4ea;
  border-radius: 30px;
  margin: 0 22px 27px 0;
  width: fit-content;
}

.product-card {
  width: 300px;
  margin-right: 23px;
}

.product-card img {
  width: 300px;
}

.product-tag {
  margin: 0 0 0 12px;
  position: relative;
  top: -20px;
}

.product-card h2 {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
}

.product-description {
  font-size: 12px;
  line-height: 16px;
  opacity: 50%;
  margin: 16px 0 27px;
}

.price {
  font-size: 12px;
  font-weight: 700;
  line-height: 13px;
  color: #212529;
}

.add-to-cart {
  border-radius: 100%;
  background-color: #e4f7ef;
  border: none;
  color: #4aca94;
  width: 35px;
  height: 35px;
  position: relative;
  transform: translateY(-75%) translateX(750%);
}

#cart {
  width: 342px;
}

#cart .title {
  height: 60px;
  padding-left: 17px;
  background-color: #ff2253;
  border-radius: 15px 15px 0 0;
}

.title h2 {
  font-size: 17px;
  font-weight: 700;
  line-height: 60px;
  color: #fff;
}

#cart-items {
  width: 340px;
  height: 432px;
  background-color: #f7f9fa;
  margin-top: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 620px) {
  header {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 -10px 30px rgba(0, 0, 0, 0.2);
  }
}

@media only screen and (min-width: 1024px) {
  header {
    margin: 0 auto 17px;
    max-width: 1075px;
  }

  ul {
    margin: auto;
    max-width: 1075px;
  }

  #showcase-cart-wrapper {
    display: flex;
    justify-content: center;
  }

  #showcase {
    max-width: 646px;
    flex-wrap: wrap;
    overflow-x: unset;
  }
}

@media only screen and (min-width: 1366px) {
  #showcase-cart-wrapper {
  }

  #showcase {
    max-width: 969px;
  }

  header,
  ul {
    max-width: 1300px;
  }
}
